<app-titulo class="text-center" [titulo]="'Área do Professor'"></app-titulo>

<div class="text-center">  
  <div class="container">
    <div class="row">
      <div class="card mr-2 ml-5" style="width: 15rem;">
        <div class="card-body" style="margin-top: 50px;">
          <h5 class="card-title">Cursos</h5>          
          <a class="btn btn-primary" routerLink="/curso-cad">Cadastrar</a>
        </div>        
      </div>      
      <div class="card mr-2 ml-2" style="width: 15rem;">
        <div class="card-body" style="margin-top: 60px;">
          <h5 class="card-title">Professores</h5>          
          <a class="btn btn-danger" routerLink="/professor-list">Listar Professores</a>
        </div>        
      </div>
      <div class="card mr-2 ml-2" style="width: 15rem;">
        <div class="card-body" style="margin-top: 60px;">
          <h5 class="card-title">Cadastrar Professores</h5>          
          <a class="btn btn-danger" routerLink="/professor-novo">Cadastrar</a>
        </div>        
      </div>
      <div class="card mr-2 ml-2" style="width: 15rem;">
        <div class="card-body" style="margin-top: 50px;">
          <h5 class="card-title">Alunos</h5>          
          <a class="btn btn-warning" routerLink="/aluno-list">Listar Alunos</a>
        </div>        
      </div>
  </div>
  </div>
</div>